<template>
  <div>
    <v-container>
      <div class="d-flex justify-end">
        <v-btn
          fab
          dark
          small
          color="red"
          class="mt-3"
          :to="`${lastRoute === 'Home' ? '/' : 'favorite'}`"
        >
          <v-icon dark>mdi-close</v-icon>
        </v-btn>
      </div>
      <book-detail :book="book" />
    </v-container>
  </div>
</template>

<script>
import { mapState } from "vuex";
import BookDetail from "../components/BookDetail";

export default {
  name: "Detail",
  components: {
    BookDetail,
  },
  props: {
    detail: {
      type: Object,
      default: null,
    },
  },
  computed: {
    ...mapState({
      book: (state) => state.book,
      lastRoute: (state) => state.lastRoute,
    }),
  },
  mounted() {
    this.$store.dispatch("fetchBook", this.book.id);
  },
};
</script>

<style></style>
