<template>
  <div>
    <v-container>
      <h1 class="text-center">Favorite Books</h1>
      <v-divider class="mb-5"></v-divider>
      <books-layout :book-list="favoriteList" :page="$route.name" />
    </v-container>
  </div>
</template>

<script>
import { mapState } from "vuex";
import BooksLayout from "../components/BooksLayout";

export default {
  name: "Favorite",
  components: {
    BooksLayout,
  },
  computed: {
    ...mapState({
      books: (state) => state.books,
      favoriteList: (state) => state.favoriteList,
    }),
  },
};
</script>

<style></style>
