<template>
  <div>
    <v-container>
      <v-row class="mt-3 d-flex justify-center">
        <v-col class="" cols="10">
          <v-text-field
            filled
            rounded
            v-model="textSearch"
            :append-icon="'mdi-magnify'"
            :append-outer-icon="'mdi-filter'"
            clear-icon="mdi-close-circle"
            clearable
            label="Book Title"
            type="text"
            @click:append="handleSearch"
            @click:append-outer="moreFilters"
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row v-if="!disableFilter" class="mb-2">
        <v-container>
          <v-chip-group
            v-model="filters"
            active-class="primary--text"
            @change="handleFilter()"
          >
            <v-chip
              v-for="item in filterList"
              :key="`filter-${item.id}`"
              label
              filter
              class="mr-2"
            >
              {{ item.name }}
            </v-chip>
          </v-chip-group>
        </v-container>
      </v-row>
      <div id="new-book" class="mb-5">
        <v-banner class="pink darken-2 text-center mb-2 white--text">
          NEW BOOKS
        </v-banner>
        <v-row class="mx-5 mt-2">
          <books-layout :book-list="newest" />
        </v-row>
        <div class="purple darken-2 text-center mb-2"></div>
      </div>
      <v-row>
        <books-layout :book-list="books" />
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapState } from "vuex";
import axios from "axios";

import BooksLayout from "../components/BooksLayout";

const defaultParams = {
  q: "null",
};

export default {
  name: "Home",
  components: {
    BooksLayout,
  },
  data() {
    return {
      defaultParams,
      textSearch: null,
      newest: [],
      mainFilter: "full",
      disableFilter: true,
      params: {
        q: "null",
      },
      filters: null,
      filterList: [
        { id: 0, name: "eBook / non eBook", filter: "full" },
        { id: 1, name: "eBook", filter: "ebooks" },
        { id: 2, name: "Free", filter: "free-ebooks" },
        { id: 3, name: "Paid", filter: "paid-ebooks" },
        { id: 4, name: "Books", printType: "books" },
        { id: 5, name: "Magazines", printType: "magazines" },
      ],
    };
  },
  computed: {
    ...mapState({
      books: (state) => state.books,
      favoriteList: (state) => state.favoriteList,
    }),
  },
  mounted() {
    this.params = this.defaultParams;
    this.disableFilter = true;
    this.$store.dispatch("fetchBooks", this.params);
    this.fetchNewBooks();
  },
  methods: {
    fetchNewBooks(v) {
      var p = Object.assign({
        q: this.textSearch || "null",
        orderBy: "newest",
        maxResults: 6,
      });
      if (v) {
        p = Object.assign(v, {
          q: this.textSearch || "null",
          orderBy: "newest",
          maxResults: 6,
        });
      }
      axios
        .get("https://www.googleapis.com/books/v1/volumes", {
          params: p,
        })
        .then((response) => {
          this.newest = response.data.items;
        });
    },
    handleSearch() {
      let text = this.textSearch || "null";
      this.params = Object.assign({ q: text });

      if (!this.filters) {
        this.$store.dispatch("fetchBooks", this.params);
        this.fetchNewBooks();
      } else {
        this.handleFilter();
      }
    },
    handleFilter() {
      const item = this.filterList.filter((e) => {
        return e.id === this.filters;
      })[0];
      if (this.filters < 4) {
        this.params = Object.assign(this.params, {
          filter: item.filter,
        });
        this.fetchNewBooks({ filter: item.filter });
      } else {
        this.params = Object.assign(this.params, {
          printType: item.printType,
        });
        this.fetchNewBooks({ printType: item.printType });
      }
      this.$store.dispatch("fetchBooks", this.params);
    },
    moreFilters() {
      this.disableFilter = !this.disableFilter;
    },
  },
};
</script>

<style>
#new-book {
  background-color: #eeeeee;
}
</style>
