<template>
  <v-container class="mb-10">
    <v-row v-if="!detailVisible">
      <v-col
        v-for="item in bookList"
        :key="`${item.id}`"
        :xs="6"
        :sm="4"
        :md="4"
        :lg="2"
        red
      >
        <v-card height="400px" class="overflow-hidden">
          <v-img
            :src="
              item.volumeInfo.imageLinks &&
              item.volumeInfo.imageLinks.smallThumbnail
            "
            class="white--text align-end"
            gradient="to bottom, rgba(0,0,0,0), rgba(0,0,0,.4)"
            max-height="250px"
            min-height="250px"
          >
            <v-btn
              icon
              dark
              class="mx-1 my-1"
              :color="`${page === 'Favorite' ? '' : 'pink'}`"
              @click="handleFavorite(item)"
            >
              <v-icon v-if="page === 'Favorite'">mdi-delete</v-icon>
              <v-icon v-else>mdi-heart</v-icon>
            </v-btn>
          </v-img>
          <div style="cursor: pointer" @click="showBookDetail(item)">
            <v-card-title>
              <div class="text-h8">
                {{ subString(item.volumeInfo.title, 22) }}
              </div>
            </v-card-title>
            <v-card-subtitle class="text-subtitle-2 grey--text">
              {{ setAuthors(item.volumeInfo.authors) }}
            </v-card-subtitle>
          </div>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-if="detailVisible">
      <div>
        <v-btn icon dark color="red" class="" @click="cancelDetail()">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <book-detail :book="detail" />
      </div>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import BookDetail from "../components/BookDetail";

export default {
  name: "BooksLayout",
  components: {
    BookDetail,
  },
  props: {
    bookList: {
      type: Array,
      default: null,
    },
    page: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      name: null,
      textSearch: null,
      detailVisible: false,
      detail: null,
    };
  },
  computed: {
    ...mapState({
      favoriteList: (state) => state.favoriteList,
    }),
  },
  mounted() {
    this.$store.dispatch("fetchFavoriteList");
  },
  methods: {
    handleFavorite(v) {
      const item = {
        id: v.id,
        volumeInfo: v.volumeInfo,
        saleInfo: v.saleInfo,
      };
      const hasBook = this.favoriteList.filter((e) => {
        return e.id === v.id;
      });

      hasBook.length < 1
        ? this.$store.dispatch("addFavoriteList", item)
        : this.$store.dispatch("removeFavoriteBook", item.id);
    },
    subString(v, index) {
      var titleSpit = null;
      if (v.length > 23) {
        titleSpit = `${v.substr(0, index)}...`;
      } else {
        titleSpit = v;
      }
      return titleSpit;
    },
    setAuthors(v) {
      var authors = "";
      if (v) {
        if (v.length > 1) {
          for (let index = 0; index < 2; index++) {
            index === 0
              ? (authors = v[index])
              : (authors = `${authors} , ${v[index]}`);
          }
        } else if (v.length === 1) {
          authors = v[0];
        }
      }
      return authors;
    },
    showBookDetail(v) {
      this.$store.dispatch("fetchBook", v.id);
      setTimeout(() => {
        this.$store.dispatch("fetchRoute", this.$route.name);
        this.$router.push("/detail");
      }, 1000);
      // const hasFav = this.favoriteList.filter((e) => {
      //   return e.id === v.id;
      // });
      // this.detail = v;
      // if (hasFav.length > 0) this.detail.favFlag = true;
      // this.detailVisible = true;
    },
    cancelDetail() {
      this.detail = null;
      this.detailVisible = false;
    },
  },
};
</script>
