<template>
  <div class="px-10">
    <v-row>
      <v-col cols="2">
        <v-img
          :src="
            book.volumeInfo.imageLinks &&
            book.volumeInfo.imageLinks.smallThumbnail
          "
          contain
          max-height="270px"
          max-width="190px"
        ></v-img>
        <div v-if="favFlag" class="mt-2">
          <v-icon left dark :color="`pink`">mdi-heart</v-icon>
          <span class="pink--text font-weight-bold">Favorite Book</span>
        </div>
      </v-col>
      <v-col cols="10">
        <div class="mb-2">
          <div class="text-h4 mb-2">{{ book.volumeInfo.title }}</div>
          <div>
            <span class="font-weight-black">Authors :</span>
            {{ concat(book.volumeInfo.authors) }}
          </div>
          <div>
            <span class="font-weight-black">Categories : </span>
            {{ concat(book.volumeInfo.categories) }}
          </div>
          <div>
            <span class="font-weight-black">Language : </span>
            {{ book.volumeInfo.language }}
          </div>
          <div>
            <span class="font-weight-black">Page Count : </span>
            {{ book.volumeInfo.pageCount }}
          </div>
          <div v-if="book.saleInfo.retailPrice">
            <span class="font-weight-black">Price : </span>
            {{ book.saleInfo.retailPrice.amount }}
            {{ book.saleInfo.retailPrice.currencyCode }}
          </div>
        </div>
        <div v-html="book.volumeInfo.description"></div>

        <div class="mt-5">
          <v-btn
            target="_blank"
            :dark="haveSale"
            :disabled="!haveSale"
            :color="`${
              book.saleInfo.saleability === 'FREE'
                ? 'indigo lighten-1'
                : 'teal darken-1'
            }`"
            :href="book.saleInfo.buyLink"
          >
            <!-- <v-icon left>mdi-heart</v-icon> -->
            <span v-if="book.saleInfo.saleability === 'FREE'">FREE</span>
            <span v-else>BUY A BOOK</span>
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  props: {
    book: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      haveSale: false,
      favFlag: false,
    };
  },
  computed: {
    ...mapState({
      favoriteList: (state) => state.favoriteList,
    }),
  },
  mounted() {
    if (this.book.saleInfo.buyLink) this.haveSale = true;
    const hasBook = this.favoriteList.filter((e) => {
      return this.book.id === e.id;
    });
    if (hasBook.length > 0) this.favFlag = true;
  },
  methods: {
    concat(v) {
      var str = "";
      if (v) {
        if (v.length > 1) {
          for (let index = 0; index < v.length; index++) {
            index === 0 ? (str = v[index]) : (str = `${str} , ${v[index]}`);
          }
        } else if (v.length === 1) {
          str = v[0];
        }
      } else {
        str = "-";
      }
      return str;
    },
  },
};
</script>

<style></style>
