<template>
  <v-app>
    <v-app-bar app dark>
      <div class="d-flex align-center">
        <div>BOOK DIRECTORY</div>
      </div>

      <v-spacer></v-spacer>

      <v-btn v-if="!toFavorite" to="/favorite" @click="toFavoritePage">
        <v-icon left>mdi-heart</v-icon>
        <span class="mr-2">Favorite</span>
        <v-badge
          v-if="favoriteList.length > 0"
          color="pink"
          :content="`${favoriteList.length}`"
        />
      </v-btn>
      <v-btn v-else to="/" @click="toFavoritePage">
        <v-icon left>mdi-home</v-icon>
        <span class="mr-2">Home</span>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "App",
  data() {
    return {
      toFavorite: false,
    };
  },
  computed: {
    ...mapState({
      favoriteList: (state) => state.favoriteList,
    }),
  },
  mounted() {
    this.$route.name === "Home"
      ? (this.toFavorite = false)
      : (this.toFavorite = true);
  },
  methods: {
    toFavoritePage() {
      this.toFavorite = !this.toFavorite;
    },
  },
};
</script>
